.center{

    text-align: center;
    color: rgb(28, 114, 114);

}

body {

    text-align: center;

}

#futbol{

    color: brown;

}

#significado{

    color: rgb(14, 135, 165);

}

h2{

    color: blueviolet;

}