.center{

    text-align: center;
    color: rgb(255, 1, 1);

}

body {

    text-align: center;
    background-color: rgb(113, 185, 226);

}

#futbol{

    color: rgb(255, 0, 0);

}

#significado{

    color: rgb(0, 0, 0);

}

h2{
    color: rgb(0, 0, 0);

}
img:hover{
    width:250px;
}
a:hover{
    color: rgb(139, 0, 97);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}